/* Fonts */
@font-face {
    font-family: Century;
    src: url('/fonts/Century-Gothic.ttf');
}
@font-face {
    font-family: Canada;
    src:url("https://use.typekit.net/af/aee0aa/00000000000000003b9b3f03/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/aee0aa/00000000000000003b9b3f03/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/aee0aa/00000000000000003b9b3f03/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:500;
    }
/* Settings */
body {
    margin: 0;
    background-image: url(https://cdn.discordapp.com/attachments/795811826188156958/795811894007038022/screen.png);
    background-repeat: no-repeat;
}
a {
    color: #cc3e4a;
}
::selection {
    background-color: #8d241c2c;
    color: #8d241c;
}
/* Roots */